#main {
      background-color: #EEEEEE;
      border-radius: 5px;
      margin: 30px 10px;
      padding: 15px;
      font-family: 'Roboto Condensed', sans-serif;
}

#title {
      color: #333333;
      text-align: center;
}

.title-h1 {
      font-weight: 700;
      font-size: 4.1rem;
}

@media (max-width: 460px) {
      .title-h1 {
            font-size: 2rem;
      }
}

#img-div {
      text-align: center;
      background: white;
      padding: 10px;
      margin: 0;
      border-radius: 5px;
}

#image {
      width: 60%;
}

#tribute-info > h2 {
      text-align: center;
      font-size: 2rem;
}

@media (max-width: 460px) {
      #tribute-info > h2 {
            font-size: 1.15rem;
      }
}

ul {
      max-width: 700px;
      margin: 0 auto 50px auto;
      text-align: left;
      line-height: 1.7;
}
    
li {
      margin: 20px 0;
}

blockquote {
      text-align: center;
      font-style: italic;
      max-width: 1000px;
      margin: 0 auto 50px auto;
      text-align: left;
      line-height: 1.7;
}

footer {
      text-align: center;
      font-size: 1.5em;
      font-weight: 700;
}

#tribute-link {
      color: #ae77c4;
}